<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="React RewriteRule">
                    <match url="^(.)" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" pattern="..(js|css|map|png|jpg|jpeg|gif|svg|ico|woff|woff2|ttf|)" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="/index.html" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
