/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */

div[style*='border-color: rgb(239, 68, 68) transparent transparent rgb(239, 68, 68)'] {
  border-color: white transparent transparent white !important;
  /* border-color: transparent !important; */
}

/* Corner kanan atas */
div[style*='border-color: rgb(239, 68, 68) rgb(239, 68, 68) transparent transparent'] {
  border-color: white white transparent transparent !important;
}

/* Corner kiri bawah */
div[style*='border-color: transparent transparent rgb(239, 68, 68) rgb(239, 68, 68)'] {
  border-color: transparent transparent white white !important;
}

/* Corner kanan bawah */
div[style*='border-color: transparent rgb(239, 68, 68) rgb(239, 68, 68) transparent'] {
  border-color: transparent white white transparent !important;
}

/* kalau mau semua corner diubah putih */
/* div[style*='border-color: rgb(239, 68, 68)'] {
  border-color: white !important;
} */

/* hapus dashed merah finder */
div[style*='border: 2px dashed rgba(239, 68, 68'] {
  border: white !important;
}
