/* @font-face {
  font-family: 'Plus Jakarta Sans';
  src: url('../public/fonts/plus-jakarta-sans-v12-latin-300.woff2') format('woff2');
  font-weight: 300;
}

@font-face {
  font-family: 'Plus Jakarta Sans';
  src: url('../public/fonts/plus-jakarta-sans-v12-latin-500.woff2') format('woff2');
  font-weight: 500;
}

@font-face {
  font-family: 'Plus Jakarta Sans';
  src: url('../public/fonts/plus-jakarta-sans-v12-latin-600.woff2') format('woff2');
  font-weight: 600;
}

@font-face {
  font-family: 'Plus Jakarta Sans';
  src: url('../public/fonts/plus-jakarta-sans-v12-latin-700.woff2') format('woff2');
  font-weight: 700;
}

*/

/* @font-face {
  font-family: 'Plus Jakarta Sans';
  src: url('../public/fonts/plus-jakarta-sans-v12-latin-800.woff2') format('woff2');
  font-weight: 800;
}  */

@font-face {
  font-family: 'Plus Jakarta Sans';
  src: url('/fonts/plus-jakarta-sans-v12-latin-300.woff2') format('woff2');
  font-weight: 300;
}

@font-face {
  font-family: 'Plus Jakarta Sans';
  src: url('/fonts/plus-jakarta-sans-v12-latin-500.woff2') format('woff2');
  font-weight: 500;
}

@font-face {
  font-family: 'Plus Jakarta Sans';
  src: url('/fonts/plus-jakarta-sans-v12-latin-600.woff2') format('woff2');
  font-weight: 600;
}

@font-face {
  font-family: 'Plus Jakarta Sans';
  src: url('/fonts/plus-jakarta-sans-v12-latin-700.woff2') format('woff2');
  font-weight: 700;
}

@font-face {
  font-family: 'Plus Jakarta Sans';
  src: url('/fonts/plus-jakarta-sans-v12-latin-800.woff2') format('woff2');
  font-weight: 800;
}

@media print {
  body {
    margin: 0;
    padding: 0;
  }

  @page {
    size: 58mm auto;
    margin: 0;
  }

  #print-area {
    width: 58mm;
  }
}

/* #html5-qr-reader video {
  height: none !important;
} */

body {
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-weight: 600;
}

.swal-close-red {
  color: red !important;
  opacity: 1 !important;
}

.swiper-navigation-icon {
  width: 45px !important;
  height: 25px !important;
}

.swiper-button-next,
.swiper-button-prev {
  background: #5d87ff;
  color: white !important;
  width: 24px; /* DIPERKECIL */
  height: 24px;
  border-radius: 50%;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 16px !important; /* ICON DIPERKECIL */
}

.rbc-disabled-slot {
  background-image: repeating-linear-gradient(
    45deg,
    #cccccc 0,
    #cccccc 10px,
    #dcdcdc 10px,
    #dcdcdc 20px
  ) !important;
}
.rbc-day-slot .rbc-events-container {
  margin-right: 0 !important;
}
.rbc-disabled-slot {
  background-color: #ffdddd !important;
  opacity: 0.5 !important;
  pointer-events: none;
}
/* .rbc-addons-dnd .rbc-addons-dnd-row-body {
  display: none !important;
} */
.rbc-time-header-cell,
.rbc-time-view .rbc-row {
  min-height: 40px;
  color: #000;
  font-weight: semibold;
}
.rbc-header {
  padding-top: 10px;
}

.swal-title-red,
.swal2-title.swal-title-red {
  color: #dc2626 !important;
}

div[style*='border-color: rgb(239, 68, 68) transparent transparent rgb(239, 68, 68)'] {
  border-color: white transparent transparent white !important;
  /* border-color: transparent !important; */
}

/* Corner kanan atas */
div[style*='border-color: rgb(239, 68, 68) rgb(239, 68, 68) transparent transparent'] {
  border-color: white white transparent transparent !important;
}

/* Corner kiri bawah */
div[style*='border-color: transparent transparent rgb(239, 68, 68) rgb(239, 68, 68)'] {
  border-color: transparent transparent white white !important;
}

/* Corner kanan bawah */
div[style*='border-color: transparent rgb(239, 68, 68) rgb(239, 68, 68) transparent'] {
  border-color: transparent white white transparent !important;
}

/* kalau mau semua corner diubah putih */
/* div[style*='border-color: rgb(239, 68, 68)'] {
  border-color: white !important;
} */

/* hapus dashed merah finder */
div[style*='border: 2px dashed rgba(239, 68, 68'] {
  border: white !important;
}

.swal2-title-custom {
  font-size: 18px !important;
  line-height: 1.4 !important;
}

/* Pastikan SweetAlert selalu di atas semua dialog MUI */
.swal2-container {
  z-index: 20000 !important;
}

.swal2-text-custom {
  font-size: 16px !important;
  line-height: 1.5 !important;
}

.swal2-dialog-override {
  z-index: 20001 !important;
}
